---
---
@import "bootstrap/bootstrap";

body {
    & > header {
        @extend .d-flex;
        @extend .flex-column;
        @extend .flex-column;

        min-height: 100vh;
        background: url(../images/header_bg.png) repeat center center;
        background-size: cover;

        & > div {
        }

    }
}