---
layout: universaljsday3
---

{% include section-contents.html %}

{% if site.data.config.cfp %} {% include section-cfp.html %} {% endif %}

{% if site.data.config.speakers %} {% include section-speakers.html %} {% else %} {% include section-announcements.html %} {% endif %}
{% if site.data.config.tickets %} {% include section-tickets.html %} {% endif %}
{% if site.data.config.workshop %} {% include section-workshop.html %} {% endif %}


{% include section-sponsors.html %}
{% include section-videos.html %}
{% include section-location.html %}
