
<section id="speakers">
    <div>
        <h3>Il Programma</h3>
        <div>
            {% for event in site.data.events %}
            <div>
                <div class="info">
                    {{ event.time_start }} - {{ event.time_end }}
                </div>
                <div class="detail">
                    <h4>{{ event.name }}</h4>
                    <div>
                        <img src="images/speakers/{{ event.speaker_twitter }}.jpg" alt="{{ event.speaker_name }}" />
                        <div>
                            <h5>{{ event.speaker_name }}</h5>
                            <p>{{ event.talk_abstract }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>