<section id="info">
    <div>
        <h3>La conferenza</h3>

        <p>
            Ti sei mai chiesto come poter diffondere rapidamente la tua app su diverse piattaforme mobile come iOS, Android o desktop?
        </p>
        <p>
            Aziende come Facebook, NetFlix o PayPal utilizzano JavaScript nel loro development stack a partire dal server web fino al
            loro dispositivo mobile.</p>
        <p>Discuteremo assieme tramite talk e laboratori come JavaScript possa migliorare ed ampliare il target delle nostre
            app, ma soprattutto comprendere assieme quanto questo linguaggio utilizzato assieme a nuovi framework e pattern
            come React Native, Ionic, Server Side Rendering, Progressive Web Apps, Electron, NativeScript apra nuovi orizzonti
            nello sviluppo di applicazioni multipiattaforma integrate in cloud.
        </p>

        <p>
            La conferenza è organizzata dal <a href="http://www.grusp.org">GrUSP</a> {% if site.data.config.partner %} e
            da
            <a href="{{ site.data.partner.url}}">{{ site.data.partner.name }}</a>{% endif %}
        </p>

        <p>
            Per rimanere informato <a href="http://eepurl.com/rCZZT" target="_blank">iscriviti alla nostra newsletter</a>.
        </p>
    </div>
</section>