<section id="cfp" class="alternate">
  <div>
    <h3>Call for Paper</h3>
    <p>Il <a href="{{page.cfp_url}}">call for paper è aperto</a> a tutti e chiuderà il <strong>{{ page.cfp_end }}</strong>.
      <br/> Affrettati ad <a href="{{page.cfp_url}}">inviarci la tua proposta</a> (consulta lo speaker package completo nella
      pagina che contiene il form per il CFP).</p>
    <p>La call for paper è inoltre aperta per un workshop che si terrà nel pomeriggio del 19 Aprile, puoi <a href="{{page.cfp_url}}">inviare la tua proposta</a> entro il {{ page.cfp_end }}.</p>
  </div>

</section>
