
<section id="speakers">
    <div>
        <h3>Il Programma</h3>
        <div>
            {% for event in site.data.events %}
            <div class="event {{ event.type }}">
                <div class="info">
                    {% if event.time_start %} {{ event.time_start }} - {{ event.time_end }} {% endif %}
                </div>
                <div class="detail">
                    <h4>{{ event.name }}</h4>
                    {% if event.type == 'talk' %}
                    <div>
                        <div class="picture">
                            <img src="images/speakers/{{ event.speaker_twitter }}.jpg" alt="{{ event.speaker_name }}" />
                        </div>
                        <div class="description">
                            <h5>{{ event.speaker_name }}</h5>
                            <p>{{ event.talk_abstract }}</p>
                            {% if event.talk_slides %}
                            <p><a href="{{ event.talk_slides }}" target="_blank">Slides</a></p>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>