<section id="speakers">
    <div>
        <h3>Gli Speaker</h3>
        <div>
<table class="table">
                        <tbody>
                        <tr>
                            <td style="width:90px;"><img width="80" height="80" src="images/speakers/simonvocella.jpg"></td>
                            <td class="text-left">
                                <strong>Dealing with CSS universally</strong><br>
                                Vorresti riutilizzare il tuo CSS nella tua applicazione mobile? 
                                In questa presentazione mostreremo come un nostro componente React  può essere riutilizzato in un applicazione React Native concentrandoci soprattutto 
                                su come portare lo stile da una piattaforma a un'altra e mostrando pro e contro di questa portabilità.<br/>
                                by <a href="https://twitter.com/simonvocella" target="_blank">Simon Vocella</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:90px;"><img width="80" height="80" src="images/speakers/gcmznt.jpg"></td>
                            <td class="text-left">
                                <strong>Hitchhiker's guide to the "Universe"</strong><br>
                                Costruiamo passo-passo una Universal App col minor sforzo (e codice) possibile usando NextJS e React, gestiamo routing dinamico con Express, 
                                aggiungiamo un pizzico di dati con Apollo e GraphQL, stiliamo il tutto con CSS-in-JS e documentiamo con Storybook.
                                Sembra complesso ma scopriremo come gli strumenti che abbiamo a disposizione ci aiutino a fare tutto in modo semplice e lineare.<br/>
                                by <a href="https://twitter.com/gcmznt" target="_blank">Giacomo Zinetti</a>
                            </td>
                        </tr>  
                        <tr>
                            <td style="width:90px;"></td>
                            <td class="text-left">
                                <strong>...ed il prossimo speaker potresti essere tu! <a href="#cfp">Scopri come inviare la tua proposta di talk!</a></strong>
                            </td>
                        </tr>                        
                    </tbody></table>
        </div>
    </div>
</section>