@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-family:             'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$primary-color:         #F05F40;


$nav-background-color:    #FFFFFF;
$nav-color:             #333333;


$header-background-color: #000000 url(../images/header_bg.jpg);
$header-presents-color:  rgba(255, 255, 255, 0.90);
$header-name-color:          #FFFFFF;
$header-datelocation-color:  rgba(255,255,255, 0.80);

$share-background:      #333333;

$section-color:         #333333;
$section-title-color:   #212121;
$section-underline-color: $primary-color;

$section-alternate-background: #212121;
$section-alternate-color: #dddddd;
$section-alternate-underline-color: #dddddd;
$section-alternate-title-color:   #ffffff;

$footer-link-hover-color: #eeeeee;
$footer-link-color: darken($footer-link-hover-color, 15%);